# Para correr localmente con tu PostgreSQL local:
# DATABASE_URL=postgresql://postgres:admin@localhost:5432/telemedicina
# Para correr con Docker (el host es 'db' porque coincide con el nombre del servicio en docker-compose):
DATABASE_URL=postgresql://postgres:admin@db:5432/telemedicina
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
POSTGRES_DB=telemedicina

SECRET_KEY=cambia-esto-por-una-clave-larga-y-secreta
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# En produccion coloca el dominio/IP del frontend.
# Ejemplo: CORS_ORIGINS=https://clinica.tudominio.com,http://TU_IP_PUBLICA
CORS_ORIGINS=*
